[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "meemoo"
url = "http://do-prd-mvn-01.do.viaa.be:8081/repository/pypi-all/simple"
verify_ssl = false

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[packages]
lxml = "*"
pika = "*"
requests = "*"
viaa-chassis = "==0.2.0rc1"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
