certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
lxml==4.5.0
pika==1.1.0
python-json-logger==0.1.11
pyyaml==5.4
requests==2.23.0
six==1.14.0
structlog==20.1.0
urllib3==1.25.9
viaa-chassis==0.2.0rc1
pytest==5.4.1
pytest-cov==2.10.1